.prefecture-map {
  background-image: image-url("maps/hokkaido.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  // 北海道 --------------------------------------------------------------
  #Sapporo_Hokkaido {
    @include location;
    top: 290px;
    left: 100px;
  }
  #Kitami_Hokkaido {
    @include location;
    position: absolute;
    top: 230px;
    left: 220px;
  }
}
