// 北海道 --------------------------------------------------------------
.prefecture-map-1 {
  background-image: image-url("maps/Hokkaido_2.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Sapporo_Hokkaido {
    @include location;
    top: 290px;
    left: 100px;
  }
  #Kitami_Hokkaido {
    @include location;
    top: 230px;
    left: 220px;
  }
}
// 青森県 --------------------------------------------------------------
.prefecture-map-2 {
  background-image: image-url("maps/Aomori.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Aomori_Aomori {
    @include location;
    top: 265px;
    left: 240px;
  }
}
// 岩手県 --------------------------------------------------------------
.prefecture-map-3 {
  background-image: image-url("maps/Iwate.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Morioka_Iwate {
    @include location;
    top: 215px;
    left: 200px;
  }
}
// 宮城県 --------------------------------------------------------------
.prefecture-map-4 {
  background-image: image-url("maps/Miyagi.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Sendai_Miyagi {
    @include location;
    top: 290px;
    left: 220px;
  }
}
// 秋田県 --------------------------------------------------------------
.prefecture-map-5 {
  background-image: image-url("maps/Akita.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Akita_Akita {
    @include location;
    top: 230px;
    left: 200px;
  }
}
// 山形県 --------------------------------------------------------------
.prefecture-map-6 {
  background-image: image-url("maps/Yamagata.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Yamagata_Yamagata {
    @include location;
    top: 300px;
    left: 305px;
  }
}
// 福島県 --------------------------------------------------------------
.prefecture-map-7 {
  background-image: image-url("maps/Fukushima.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Fukushima_Fukushima {
    @include location;
    top: 125px;
    left: 325px;
  }
}
// 茨城県 --------------------------------------------------------------
.prefecture-map-8 {
  background-image: image-url("maps/Ibaraki.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Mito_Ibaraki {
    @include location;
    top: 235px;
    left: 305px;
  }
}
// 栃木県 --------------------------------------------------------------
.prefecture-map-9 {
  background-image: image-url("maps/Tochigi.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Utsunomiya_Tochigi {
    @include location;
    top: 300px;
    left: 275px;
  }
}
// 群馬県 --------------------------------------------------------------
.prefecture-map-10 {
  background-image: image-url("maps/Gunma.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Maebashi_Gunma {
    @include location;
    top: 300px;
    left: 260px;
  }
}
// 埼玉県 --------------------------------------------------------------
.prefecture-map-11 {
  background-image: image-url("maps/Saitama.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Saitama_Saitama {
    @include location;
    top: 310px;
    left: 375px;
  }
}
// 千葉県 --------------------------------------------------------------
.prefecture-map-12 {
  background-image: image-url("maps/Chiba.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Chiba_Chiba {
    @include location;
    top: 200px;
    left: 185px;
  }
}
// 東京都 --------------------------------------------------------------
.prefecture-map-13 {
  background-image: image-url("maps/Tokyo.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Tokyo_Tokyo {
    @include location;
    top: 225px;
    left: 275px;
  }
}
// 神奈川県 ------------------------------------------------------------
.prefecture-map-14 {
  background-image: image-url("maps/Kanagawa.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Yokohama_Kanagawa {
    @include location;
    top: 215px;
    left: 385px;
  }
}
// 新潟県 --------------------------------------------------------------
.prefecture-map-15 {
  background-image: image-url("maps/Niigata.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Niigata_Niigata {
    @include location;
    top: 180px;
    left: 300px;
  }
}
// 富山県 --------------------------------------------------------------
.prefecture-map-16 {
  background-image: image-url("maps/Toyama.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Toyama_Toyama {
    @include location;
    top: 195px;
    left: 225px;
  }
}
// 石川県 --------------------------------------------------------------
.prefecture-map-17 {
  background-image: image-url("maps/Ishikawa.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Kanazawa_Ishikawa {
    @include location;
    top: 315px;
    left: 210px;
  }
}
// 福井県 --------------------------------------------------------------
.prefecture-map-18 {
  background-image: image-url("maps/Fukui.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Fukui_Fukui {
    @include location;
    top: 150px;
    left: 275px;
  }
}
// 山梨県 --------------------------------------------------------------
.prefecture-map-19 {
  background-image: image-url("maps/Yamanashi.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Kofu_Yamanashi {
    @include location;
    top: 190px;
    left: 210px;
  }
}
// 長野県 --------------------------------------------------------------
.prefecture-map-20 {
  background-image: image-url("maps/Nagano.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Nagano_Nagano {
    @include location;
    top: 110px;
    left: 280px;
  }
}
// 岐阜県 --------------------------------------------------------------
.prefecture-map-21 {
  background-image: image-url("maps/Gifu.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Gifu_Gifu {
    @include location;
    top: 370px;
    left: 190px;
  }
}
// 静岡県 --------------------------------------------------------------
.prefecture-map-22 {
  background-image: image-url("maps/Shizuoka.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Shizuoka_Shizuoka {
    @include location;
    top: 290px;
    left: 260px;
  }
}
// 愛知県 --------------------------------------------------------------
.prefecture-map-23 {
  background-image: image-url("maps/Aichi.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Nagoya_Aichi {
    @include location;
    top: 160px;
    left: 110px;
  }
}
// 三重県 --------------------------------------------------------------
.prefecture-map-24 {
  background-image: image-url("maps/Mie.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Tsu_Mie {
    @include location;
    top: 175px;
    left: 275px;
  }
}
// 滋賀県 --------------------------------------------------------------
.prefecture-map-25 {
  background-image: image-url("maps/Shiga.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Hikone_Shiga {
    @include location;
    top: 235px;
    left: 305px;
  }
}
// 京都府 --------------------------------------------------------------
.prefecture-map-26 {
  background-image: image-url("maps/Kyoto.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Kyoto_Kyoto {
    @include location;
    top: 340px;
    left: 345px;
  }
}
// 大阪府 --------------------------------------------------------------
.prefecture-map-27 {
  background-image: image-url("maps/Osaka.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Osaka_Osaka {
    @include location;
    top: 230px;
    left: 275px;
  }
}
// 兵庫県 --------------------------------------------------------------
.prefecture-map-28 {
  background-image: image-url("maps/Hyogo.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Kobe_Hyogo {
    @include location;
    top: 312px;
    left: 325px;
  }
}
// 奈良県 --------------------------------------------------------------
.prefecture-map-29 {
  background-image: image-url("maps/Nara.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Nara_Nara {
    @include location;
    top: 60px;
    left: 220px;
  }
}
// 和歌山県 ------------------------------------------------------------
.prefecture-map-30 {
  background-image: image-url("maps/Wakayama.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Wakayama_Wakayama {
    @include location;
    top: 80px;
    left: 110px;
  }
}
// 鳥取県 --------------------------------------------------------------
.prefecture-map-31 {
  background-image: image-url("maps/Tottori.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Tottori_Tottori {
    @include location;
    top: 180px;
    left: 385px;
  }
}
// 島根県 --------------------------------------------------------------
.prefecture-map-32 {
  background-image: image-url("maps/Shimane.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Matsue_Shimane {
    @include location;
    top: 210px;
    left: 350px;
  }
}
// 岡山県 --------------------------------------------------------------
.prefecture-map-33 {
  background-image: image-url("maps/Okayama.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Okayama_Okayama {
    @include location;
    top: 355px;
    left: 265px;
  }
}
// 広島県 --------------------------------------------------------------
.prefecture-map-34 {
  background-image: image-url("maps/Hiroshima.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Hiroshima_Hiroshima {
    @include location;
    top: 340px;
    left: 150px;
  }
}
// 山口県 --------------------------------------------------------------
.prefecture-map-35 {
  background-image: image-url("maps/Yamaguchi.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Shimonoseki_Yamaguchi {
    @include location;
    top: 330px;
    left: 40px;
  }
}
// 徳島県 --------------------------------------------------------------
.prefecture-map-36 {
  background-image: image-url("maps/Tokushima.png");
  background-size: cover;
  height: 480px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  #Tokushima_Tokushima {
    @include location;
    top: 155px;
    left: 400px;
  }
}
