@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin location {
  position: absolute;
  font-size: 11px;
  &:hover {
    cursor: pointer;
  }
  a {
    padding: 1px;
    background-color: white;
  }
}
